<div class="container">
    <div class="form-group col-xs-3 col-sm-3 col-md-6">
        <input type="text" class="form-control" placeholder="조회 데이터를 입력해 주세요" [ngFormControl]="searchBox" [(ngModel)]="searchValue">
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1" style="padding: 0px; margin-right: 0.5%;">
        <button type="button" class="btn btn-default btn-block" (click)="searchEvent.emit(event)">조회</button>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1" style="padding: 0px; margin-left: 0.5%;">
        <button type="button" class="btn btn-danger btn-block" (click)="onInsertClick()">등록</button>
    </div>
    <div class="row">
        <table class="table table-hover table-responsive">
            <tr>
                <th *ngFor="let header of tableHeaders">{{header}}</th>
            </tr>
            <tr *ngIf="tableRowModels.length > 0" *ngFor="let rowModel of tableRowModels | async" (click)="onRowClick(rowModel)" >
                <td>{{rowModel.partnerName}}</td>
                <td>{{rowModel.businessNumber}}</td>
                <td>{{rowModel.businessDescription}} </td>
                <td>{{rowModel.partnerDescription}}</td>
            </tr>
            <tr *ngIf="tableRowModels.length <= 0">
                <td rowspan="7">등록된 프로젝트 리스트가 없습니다.</td>
            </tr>
        </table>
    </div>
</div>
