<div class="container">
    <div class="col-xs-1 col-sm-1 col-md-2">
        <select class="form-control" [(ngModel)]="partnerSelect.partnerCode">
            <option  selected="selected" value="0">사업자</option>
            <option *ngFor="let partnerCodeModel of partnerCodeModels" [value]="partnerCodeModel.partnerCode">
                {{partnerCodeModel.description}}
            </option>
        </select>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-2">
        <select class="form-control" [(ngModel)]="businessSelect.businessCode">
            <option  selected="selected" value="0">거래 구분</option>
            <option *ngFor="let businessCodeModel of businessCodeModels" [value]="businessCodeModel.businessCode">
                {{businessCodeModel.description}}
            </option>
            <!--<option [value]=1>프로젝트명</option>-->
            <!--<option [value]=2>매출처</option>-->
            <!--<option [value]=3>매출처</option>-->
        </select>
    </div>
    <partner-list-table [table-headers]="tableHeaders" [table-rowModels]="data"
                        (searchEvent)="searchData($event, partnerSelect, businessSelect)">

    </partner-list-table>
</div>
