<wrapper>
  <div class="row">
    <div class="col-lg-12 container">
      <h1 class="page-header">사업자 신규 등록</h1>

      <!--  등록 폼 -->
      <form role="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>사업자 명 </label>
          <input class="form-control" placeholder="partner name" [(ngModel)]="partnerModel.partnerName" required>
        </div>

        <div class="form-group">
          <label>사업자 번호</label>
          <input class="form-control" placeholder="business num" [(ngModel)]="partnerModel.businessNumber" required>
          <p style="color:red;">프리랜서의 경우는 주민번호</p>
        </div>

        <div class="form-group">
          <label>거래 구분</label>
          <select class="form-control" [(ngModel)]="partnerModel.partnerCode" required>
            <option *ngFor="let partnerCodeModel of partnerCodeModels"  [value]="partnerCodeModel.partnerCode">{{ partnerCodeModel.description }} </option>
            <!-- <option value="매입 ">매입 </option> -->
          </select>
        </div>
<!--
<select (change)="onChange($event.target.value)"> <option *ngFor="let i of devices">{{i}}</option> </select> onChange(deviceValue) { console.log(deviceValue); } -->
        <div class="form-group">
          <label>사업자 구분</label>
          <select class="form-control" [(ngModel)]="partnerModel.businessCode" required>
              <option *ngFor="let businessCodeModel of businessCodeModels" [value]="businessCodeModel.businessCode" >{{ businessCodeModel.description }} </option>

          </select>
        </div>

        <button type="submit" class="btn btn-lg btn-danger btn-block">등록</button>

      </form>





    </div>

  </div>

</wrapper>


<!--        <div class="dropdown" dropdown [dropdownToggle]="false" (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
<button class="btn btn-primary" dropdown-open>My Heroes</button>
<ul class="dropdown-menu">
<li><a>Badman</a></li>
<li><a>Sadman</a></li>
<li><a>Lieman</a></li>
</ul>
</div>

<div class="dropdown" dropdown [dropdownToggle]="false" (onOpen)="doSomeActionOnOpen()" (onClose)="doSomeActionOnClose()">
<button class="btn btn-primary" dropdown-open>My Heroes</button>
<ul class="dropdown-menu">
<li><a>Badman</a></li>
<li><a>Sadman</a></li>
<li><a>Lieman</a></li>
</ul>
</div>-->
