<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>외주인력 MM 관리</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <select class="form-control" [ngModel]="selDataModel.projectId" (change) = "onSearchManpower($event.target.value)">
                <option value=0 [disabled]="true" [selected]="true">프로젝트 목록</option>
                <option *ngFor="let listModel of pjtListModels" [value]="listModel.projectId" >
                    {{listModel.projectName}}
                </option>
            </select>
        </div>
        <div class="col-lg-5">
            <select class="form-control" [(ngModel)]="selDataModel.manpowerMm">
                <option value="" [disabled]="true" [selected]="true">인력목록</option>
                <option *ngFor="let listModel of manpowerListModels" [value]="listModel.manpowerName">
                    {{listModel.manpowerName}}
                </option>
            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-block btn-default" (click)="onSearch()">조회</button>
        </div>
    </div>
    <div class="row" *ngIf="toggleSearch">
        <p><strong>프로젝트 명: </strong>{{selPjtInfo.projectModel.projectName}} <strong>시작일: </strong> {{selPjtInfo.projectModel.startDate}} <strong> 종료일: </strong>{{selPjtInfo.projectModel.endDate}}</p>
        <p><strong>투입인력: </strong>{{selManpowerInfo.manpowerName}}<strong> 계약단가: </strong>{{selManpowerInfo.outsourcingAmount}} <strong> 투입기간: </strong>{{selManpowerInfo.startDate}}~{{selManpowerInfo.endDate}}</p>
    </div>
    <div class="row">
        <button class="btn btn-success" (click)="pushMMList()">MM 추가</button>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>MM</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mmModel of mmMergeListModel.mergeManpowerMmModels;">
                    <td>
                        {{mmModel.month | date:"yyyy-MM"}}
                    </td>
                    <td>
                        <inline-edit [(ngModel)]="mmModel.mm" (onSave)="saveEditable($event)"></inline-edit>
                    </td>
                    <td *ngIf="mmMergeListModel.mergeManpowerMmModels[mmMergeListModel.mergeManpowerMmModels.length-1].month == mmModel.month">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true" (click)="deleteData(mmModel)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <button class="btn btn-primary btn-block" (click)="onSave()">변경</button>
    </div>
</div>