* {
    margin: 0 auto;
    padding: 0px;
}
.page-header{
    border-bottom-width: 100%;
}
.container {
    float: left;
    margin-left: 265px;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}