<wrapper>
    <div class="row">
        <div class="col-lg-12 container">
            <h1 class="page-header">프로젝트 신규 등록</h1>

            <ol class="breadcrumb">
                <li><a [routerLink]="['/project/selectList']">프로젝트</a></li>
                <li><a [routerLink]="['/project/insertProject']">등록</a></li>
            </ol>

            <form role="form" (ngSubmit)="onSubmit()">
                <div class="panel panel-info">
                    <div class="panel-heading"><strong>프로젝트 정보</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>프로젝트 명 </label>
                            <input class="form-control" placeholder="project name" [(ngModel)]="addPjtModel.projectName" required>
                        </div>

                        <div class="form-group">
                            <label>매출처</label>
                            <select class="form-control" [(ngModel)]="addPjtModel.partnerId">
                                <option *ngFor="let partnerModel of partnerListModel" [value]="partnerModel.partnerId" >{{ partnerModel.partnerName }} </option>
                            </select>

                        </div>

                        <div class="form-group">
                            <label>시작일</label>
                            <datepicker [(ngModel)]="addPjtModel.startDate" view-format="YYYY-MM-DD" model-format="YYYY-MM-DD" init-date=""></datepicker>
                            <p style="color:red;" *ngIf="submitToggle && addPjtModel.startDate == null">프로젝트의 시작일을 선택해 주세요</p>
                        </div>

                        <div class="form-group">
                            <label>종료일</label>
                            <datepicker [(ngModel)]="addPjtModel.endDate" view-format="YYYY-MM-DD" model-format="YYYY-MM-DD" init-date="" required></datepicker>
                            <p style="color:red;" *ngIf="submitToggle && addPjtModel.endDate == null"> 프로젝트의 종료일을 선택해 주세요</p>
                            <p style="color:red;" *ngIf="addPjtModel.startDate > addPjtModel.endDate">시작일이 종료일보다 클수는 없습니다.</p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-danger">
                    <div class="panel-heading"><strong>프로젝트 금액 정보</strong></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label> 계약 금액 </label>
                            <input type="number" class="form-control" placeholder="" [(ngModel)]="addPjtModel.contractAmount" required>
                        </div>

                        <div class="form-group">
                            <label> 외주 금액 </label>
                            <input type="number" class="form-control" placeholder="" [(ngModel)]="addPjtModel.outsourcingAmount" required>
                        </div>

                        <div class="form-group">
                            <label> 공급 가액 </label>
                            <input type="number" class="form-control" placeholder="" [(ngModel)]="addPjtModel.supplyAmount" required>
                        </div>

                        <div class="form-group">
                            <label> 부가 세액 </label>
                            <input type="number" class="form-control" placeholder="" [(ngModel)]="addPjtModel.vtaAmount" required>
                        </div>

                        <div class="form-group">
                            <label> 순 매출 </label>
                            <input type="number" class="form-control" placeholder="" [(ngModel)]="addPjtModel.netAmount" required>
                        </div>
                    </div>
                </div>


                <!-- 등록 버튼 onSubmit() -->
                <button type="submit" class="btn btn-lg btn-success btn-block">등록</button>

            </form>

        </div>

    </div>

</wrapper>
